@import "@angular/material/prebuilt-themes/purple-green.css";

* {
    font-weight: 400;
    overflow-wrap: break-word;
    text-decoration: none;
    outline: none;
}

body[dir="rtl"] {
    font-family: 'Open Sans', sans-serif;
}

html, body { 
    height: 100%; 
    overflow: hidden;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

html {
    font-size: 16px;
}

body { 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;

    &:before {
        z-index: -1;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
        background-image: url('assets/background.jpg');
    }
}

table {
  width: 100%;
}

td.mat-cell {
  padding: 10px;
  font-size: 14px;
}

input.mat-input-element {
  padding: 10px;
  border-radius: 5px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #7b1fa2;
  caret-color: #7b1fa2;
  fill: #7b1fa2;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple), .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  background-color: #7b1fa2;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle, .mat-radio-outer-circle {
  border-color: #7b1fa2;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before, .mat-form-field-appearance-fill .mat-form-field-flex, .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #383838;
}

.mat-flat-button.mat-primary.mat-button-disabled, .mat-flat-button.mat-accent.mat-button-disabled, .mat-flat-button.mat-warn.mat-button-disabled, .mat-flat-button.mat-button-disabled.mat-button-disabled, .mat-raised-button.mat-primary.mat-button-disabled, .mat-raised-button.mat-accent.mat-button-disabled, .mat-raised-button.mat-warn.mat-button-disabled, .mat-raised-button.mat-button-disabled.mat-button-disabled, .mat-fab.mat-primary.mat-button-disabled, .mat-fab.mat-accent.mat-button-disabled, .mat-fab.mat-warn.mat-button-disabled, .mat-fab.mat-button-disabled.mat-button-disabled, .mat-mini-fab.mat-primary.mat-button-disabled, .mat-mini-fab.mat-accent.mat-button-disabled, .mat-mini-fab.mat-warn.mat-button-disabled, .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background-color: #7b1fa263;
}

.mat-select-panel {
  background: #fff;
}

.mat-focused .mat-form-field-required-marker {
  color: #7b1fa2;
}

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
  background: #7b1fa212;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) .mat-option-text {
  color: white;
}

.mat-select-arrow, .mat-form-field-appearance-legacy .mat-form-field-label, .mat-select-value-text, .mat-option-text, .mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: #383838; 
}

.mat-radio-group.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}