<ng-container *ngIf="!!client">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <h2>{{textManager.CLIENT_QUESTION_FORM1_title}}</h2>

        <div class="questions-wrapper">

            <div class="form-control">
                <mat-label>- {{textManager.CLIENT_QUESTION_FORM1_PHYSICHAL_ACTIVITY_DIFFICULTY}}</mat-label>
                <mat-radio-group formControlName="PHYSICHAL_ACTIVITY_DIFFICULTY">
                    <mat-radio-button value="false">{{textManager.APP_no}}</mat-radio-button>
                    <mat-radio-button value="true">{{textManager.APP_yes}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-control">
                <mat-label>- {{textManager.CLIENT_QUESTION_FORM1_RICKETY_BONES}}</mat-label>
                <mat-radio-group formControlName="RICKETY_BONES">
                    <mat-radio-button value="false">{{textManager.APP_no}}</mat-radio-button>
                    <mat-radio-button value="true">{{textManager.APP_yes}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-control">
                <mat-label>- {{textManager.CLIENT_QUESTION_FORM1_COUGHING}}</mat-label>
                <mat-radio-group formControlName="COUGHING">
                    <mat-radio-button value="false">{{textManager.APP_no}}</mat-radio-button>
                    <mat-radio-button value="true">{{textManager.APP_yes}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-control">
                <mat-label>- {{textManager.CLIENT_QUESTION_FORM1_SADNESS}}</mat-label>
                <mat-radio-group formControlName="SADNESS" class="column">
                    <mat-radio-button value="NOT_AT_ALL">{{textManager.APP_not_at_all}}</mat-radio-button>
                    <mat-radio-button value="RARELY">{{textManager.APP_rarely}}</mat-radio-button>
                    <mat-radio-button value="OFTEN">{{textManager.APP_often}}</mat-radio-button>
                    <mat-radio-button value="REGULARLY">{{textManager.APP_regularly}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-control">
                <mat-label>- {{textManager.CLIENT_QUESTION_FORM1_PASSIVE_SMOKING}}</mat-label>
                <mat-radio-group formControlName="PASSIVE_SMOKING" class="column">
                    <mat-radio-button value="NOT_AT_ALL">{{textManager.APP_not_at_all}}</mat-radio-button>
                    <mat-radio-button value="RARELY">{{textManager.APP_rarely}}</mat-radio-button>
                    <mat-radio-button value="OFTEN">{{textManager.APP_often}}</mat-radio-button>
                    <mat-radio-button value="REGULARLY">{{textManager.APP_regularly}}</mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="form-footer" [class.form-footer--rtl]="rtl">
            <button [disabled]="disabled" mat-raised-button (click)="onBack()">
                {{textManager.APP_back_btn}}
            </button>
            
            <button [disabled]="disabled || disabledClientQuestionForm1" mat-raised-button type="submit">
                {{textManager.APP_continue_btn}}
            </button>

            <button [disabled]="disabled" mat-raised-button (click)="onReset()" color="warn">
                {{textManager.APP_reset_btn}}
            </button>
        </div>
    </form>

</ng-container>