:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    width: 50vw;
    min-width: 600px;
    height: 70vh;
    min-height: 700px;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 1px 24px 0 rgb(0 0 0 / 10%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}