
<ng-container *ngIf="!!loggedInUser && !!textManager">

    <app-get-client-form @fadeInOut *ngIf="step === StepEnum.GET_CLIENT_ID" 
        [rtl]="rtl"
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        (formData)="searchClient($event)">
    </app-get-client-form>

    <app-client-details-form @fadeInOut *ngIf="step === StepEnum.APPROVE_CLIENT_PRESONAL_DETAILS && !!client" 
        [rtl]="rtl"    
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        [client]="client"
        (back)="setStep(StepEnum.GET_CLIENT_ID);"
        (continue)="setStep(StepEnum.CLIENT_QUESTIONNAIRE_1);"
        (reset)="reset()">
    </app-client-details-form>

    <app-client-question-form1 @fadeInOut *ngIf="step === StepEnum.CLIENT_QUESTIONNAIRE_1 && !!client"
        [rtl]="rtl"    
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        [disabledClientQuestionForm1]="disabledClientQuestionForm1"
        [client]="client"
        [form]="clientHealthCheckForm"
        (continue)="checkStep1()"
        (back)="setStep(StepEnum.APPROVE_CLIENT_PRESONAL_DETAILS);"
        (reset)="reset()">
    </app-client-question-form1>

    <app-client-question-form2 @fadeInOut *ngIf="step === StepEnum.CLIENT_QUESTIONNAIRE_2 && !!client"
        [rtl]="rtl"    
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        [client]="client"
        [form]="clientHealthCheckForm"
        (continue)="checkStep2()"
        (back)="setStep(StepEnum.CLIENT_QUESTIONNAIRE_1);"
        (reset)="reset()">
    </app-client-question-form2>

    <app-client-question-form-result @fadeInOut *ngIf="step === StepEnum.CLIENT_QUESTIONNAIRE_RESULT && !!client"
        [rtl]="rtl"    
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        [client]="client"
        [form]="clientHealthCheckForm"
        [precentege]="precentege"
        (continue)="setStep(StepEnum.CLIENT_QUESTIONNAIRE_REPORTS);"
        (back)="setStep(StepEnum.CLIENT_QUESTIONNAIRE_2);"
        (reset)="reset()">
    </app-client-question-form-result>

    <app-reports @fadeInOut *ngIf="step === StepEnum.CLIENT_QUESTIONNAIRE_REPORTS && !!client"
        [rtl]="rtl"    
        [loggedInUser]="loggedInUser" 
        [textManager]="textManager" 
        [disabled]="disabled" 
        [client]="client"
        [form]="clientHealthCheckForm"
        (back)="setStep(StepEnum.CLIENT_QUESTIONNAIRE_RESULT);"
        (reset)="reset()">
    </app-reports>

</ng-container>
