<ng-container *ngIf="!!client">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <h2>{{textManager.GET_CLIENT_details_title}}</h2>

        <div class="details-wrapper">

            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_id}}</mat-label>
                <input matInput formControlName="clientId" type="number" />
            </mat-form-field>
    
            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_first_name}}</mat-label>
                <input matInput formControlName="firstName" type="text" />
            </mat-form-field>
    
            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_last_name}}</mat-label>
                <input matInput formControlName="lastName" type="text" />
            </mat-form-field>
    
            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_sex}}</mat-label>
                <input matInput formControlName="sex" type="text" />
            </mat-form-field>
    
            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_age}}</mat-label>
                <input matInput formControlName="age" type="number" />
            </mat-form-field>
    
            <mat-form-field class="form-control details">
                <mat-label>{{textManager.GET_CLIENT_details_address}}</mat-label>
                <input matInput formControlName="address" type="text" />
            </mat-form-field>
    
            <div class="form-control medical-history">
                <h4>{{textManager.GET_CLIENT_details_medical_history}}</h4>
                <ul *ngIf="form.get('medicalHistory')?.value?.length > 0">
                    <li *ngFor="let appointment of form.get('medicalHistory')?.value">
                        <strong>{{appointment.date | date}}</strong>
                        <p>{{appointment.treatment ? appointment.issue + ', ' : appointment.issue}}{{appointment.treatment}}</p>
                    </li>
                </ul>
            </div>

        </div>

        <div class="form-footer" [class.form-footer--rtl]="rtl">
            <button [disabled]="disabled" mat-raised-button (click)="onBack()">
                {{textManager.APP_back_btn}}
            </button>

            <button [disabled]="form.invalid || disabled" mat-raised-button type="submit">
                {{textManager.APP_continue_btn}}
            </button>

            <button [disabled]="disabled" mat-raised-button (click)="onReset()" color="warn">
                {{textManager.APP_reset_btn}}
            </button>
        </div>
    </form>

</ng-container>