<div class="app-content">

  <mat-form-field class="change-language">
    <mat-label>{{textManager.APP_select_language}}</mat-label>
    <mat-select [(value)]="selectedLanguage" (selectionChange)="changeLanguage($event.value)">
      <mat-option value="en">
        <img src="assets/flags/en.png">
        English
      </mat-option>
      <mat-option value="he">
        <img src="assets/flags/he.png">
        עברית
      </mat-option>
    </mat-select>
  </mat-form-field>

  <router-outlet></router-outlet>

</div>