.app-content {
    position: fixed;
    min-height: 1000px;
    height: 100%;
    width: 100%;
    top: 0;
}

.change-language {
    display: block;
    margin: 15px auto 0;
    width: 150px;
}

mat-option {
    direction: ltr !important;
    text-align: left !important;
}

mat-option img {
    width: 24px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}