<ng-container *ngIf="!!loggedInUser">

    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        
        <h2>{{textManager.GET_CLIENT_title}}</h2>

        <mat-form-field class="form-control">
            <mat-label>{{textManager.GET_CLIENT_id}}</mat-label>
            <input matInput formControlName="clientId" type="number" />
    
            <mat-error *ngIf="clientId?.hasError('required')">
                {{textManager.GET_CLIENT_id_required}}
            </mat-error>
        </mat-form-field>
    
        <div class="form-footer">
            <button [disabled]="form.invalid || disabled" mat-raised-button type="submit">
                {{textManager.APP_confirm_btn}}
            </button>
        </div>
    </form>

</ng-container>